* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #667eea, #764ba2);
}

.chat-container {
    width: 350px;
    background: #fff;
    border-radius: 12px;
    padding: 16px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.chat-container h2 {
    text-align: center;
    margin-bottom: 12px;
}

.chat-box {
    height: 250px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}


.user {
    text-align: right;
    margin-bottom: 8px;
}

.user p {
    display: inline-block;
    background: #667eea;
    color: #fff;
    padding: 6px 10px;
    border-radius: 12px;
}
.typing{
     text-align: left;
}

.bot {
    text-align: left;
    margin-bottom: 8px;
}
.bot img{
    width: 100%;
    height: 200px;
}
.bot p {
    display: inline-block;
    background: #eee;
    padding: 6px 10px;
    border-radius: 12px;
}

.input-box {
    display: flex;
    gap: 6px;
}

.input-box input {
    flex: 1;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}

.input-box button {
    padding: 8px 12px;
    border: none;
    background: #667eea;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}
